doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.1.js')
    script(src='/javascripts/cocos2d-beta2.js')
    script(src='/javascripts/main.js')
  body
    block content
